.main {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100svh;
  overflow: hidden;
}

.imageWrapper {
  position: absolute;
  inset: 0;
  z-index: 0;
}
/* .imageWrapper::after {
  content: '';
  position: absolute;
  inset: 0;
  background: linear-gradient(
    to right,
    rgba(0, 0, 0, 0.75) 0%,
    rgba(0, 0, 0, 0.45) 40%,
    rgba(0, 0, 0, 0.15) 70%,
    rgba(0, 0, 0, 0) 100%
  );
  z-index: 1;
} */

.bgImage {
  object-fit: cover;
  object-position: center;
}

.MainContainer {
  position: relative;
  z-index: 2;
  display: flex;
  justify-content: left;
  flex-direction: column;
  gap: 25px;
  width: 100%;
  padding-left: 50px;
}
[dir='rtl'] .MainContainer {
  padding-right: 50px;
}

.MainContainer h3 {
  font-size: var(--fs-46);
  font-weight: 500;
  color: #FFFFFF;
  margin: 0;
  text-transform: capitalize;
  font-family: var(--font-pp-hatton);
}
[dir='rtl'] .MainContainer h3 {
  font-family: var(--font-alexandria);
}

.MainContainer p {
  font-size: var(--fs-18);
  font-weight: 400;
  color: #FFFFFF;
  font-family: var(--font-poppins);
  margin: 0;
  max-width: 512px;
}
[dir='rtl'] .MainContainer p {
  font-family: var(--font-kufi);
}

@media (max-width: 640px) {
  .main {
    align-items: flex-end;
  }
/* .imageWrapper::after {
    background: linear-gradient(
      to top,
      rgba(0, 0, 0, 0.80) 0%,
      rgba(0, 0, 0, 0.45) 40%,
      rgba(0, 0, 0, 0.10) 70%,
      rgba(0, 0, 0, 0) 100%
    );
  } */
  .MainContainer {
    padding-left: 24px;
    gap: 8px;
    padding-right: 24px;
    padding-bottom: 50px;
  }

  .MainContainer h3 {
    font-size: 20px;
  }

  .MainContainer p {
    font-size: 14px;
    max-width: 100%;
  }
}



@media (max-width: 640px) {
  [dir='rtl'] .MainContainer {
    padding-right: 24px;
    padding-left: 24px;
  }

  [dir='rtl'] .MainContainer h3 {
    font-size: 20px;
  }
}