.Main{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: #ffffff;
    padding:
  clamp(80px, calc(80px + (80 * ((100vw - 320px) / 1120))), 160px)
  clamp(24px, calc(24px + (26 * ((100vw - 320px) / 1120))), 50px)
  clamp(80px, calc(80px + (80 * ((100vw - 320px) / 1120))), 160px)
  clamp(24px, calc(24px + (26 * ((100vw - 320px) / 1120))), 50px);
}
.MainContainer{
    display: flex;
    justify-content: left;
    flex-direction: column;
    gap: 20px;
    width: 100%;
}
.MainContainer h3{
    font-size: var(--fs-25);
    font-weight: 700;
    color: #414141;
    margin: 0;
    font-family: var(--font-poppins);
}
.MainContainer p{
    font-size: var(--fs-18);
    font-weight: 400;
    color: #414141;
    margin: 0;
    line-height: 140%;
    font-family: var(--font-poppins);
    max-width: 50%;
}
@media (max-width: 640px) {
    .Main{
        padding: 80px 24px 80px 24px;
    }
    .MainContainer {
        gap: 8px;
    }
    .MainContainer h3{
        font-size: 20px;
    }
    .MainContainer p{
        font-size: 14px;
        max-width: 100%;
    }
}