.main{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: #ffffff;
 padding:
clamp(80px, calc(80px + (40 * ((100vw - 320px) / 1120))), 120px)
clamp(24px, calc(24px + (26 * ((100vw - 320px) / 1120))), 50px)
clamp(80px, calc(80px + (80 * ((100vw - 320px) / 1120))), 160px)
clamp(24px, calc(24px + (26 * ((100vw - 320px) / 1120))), 50px);
}
.MainContainer{
    display: flex;
    justify-content: left;
    flex-direction: column;
   gap: clamp(80px, calc(80px + (80 * ((100vw - 320px) / 1120))), 160px);
    width: 100%;
}
.top{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
  gap: clamp(25px, calc(25px + (25 * ((100vw - 320px) / 1120))), 50px);
    flex-direction: row;
}
.top h3{
    font-size: var(--fs-46);
    font-weight: 400;
    color: #414141;
    text-transform: capitalize;
    font-family: var(--font-pp-hatton);
}
[dir="rtl"] .top h3 {
  font-family: var(--font-alexandria);

}
.top img{
    width: 100%;
    max-width: 1080px;  
    max-height: 300px;
    object-fit: cover;
    height: 100%;
}
.bottom{
    display: flex;
    justify-content: left;
    flex-direction: column;
    gap: 20px;
    width: 100%;
}
.bottom h3{
    font-size: var(--fs-25);
    font-weight: 700;
    color: #414141;
    text-transform: capitalize;
    font-family: var(--font-poppins);
}
[dir="rtl"] .bottom h3 {
  font-family: var(--font-kufi);
}
.bottom p{
    font-size: var(--fs-18);
    font-weight: 400;
    color: #414141;
    margin: 0;
    line-height: 130%;
    max-width: 1030px;
    font-family: var(--font-poppins);
}
[dir="rtl"] .bottom p {
  font-family: var(--font-kufi);
}
@media (max-width: 1040px) {
    .main{
        padding: 120px 24px 60px 24px;
    }
   .top {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;
    column-gap: 4px; 
  }

  .top h3 {
    font-size: 28px;
    flex: 0 0 auto;
  }

  .top img {
    flex: 0 0 100%;   
    order: 1;         
    max-height: 200px;
  }
    .bottom h3{
        font-size: 20px;
    }
    .bottom{
        gap: 8px;
    }
    .MainContainer{
        gap: 40px;
    }
    .bottom p{
        font-size: 14px;
        max-width: 100%;
    }
}
@media (min-width: 1041px) and (max-width: 1440px) {
    .main{
        padding: 120px 24px 60px 24px;
    }
  
}
@media (max-width: 640px) {
    [dir="rtl"] .top h3 {
        font-size: 28px;
    }
}