.Main{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: #ffffff;
padding:
0px
clamp(24px, calc(24px + (26 * ((100vw - 320px) / 1120))), 50px)
clamp(80px, calc(80px + (80 * ((100vw - 320px) / 1120))), 160px)
clamp(24px, calc(24px + (26 * ((100vw - 320px) / 1120))), 50px);
}
.MainContainer{
    display: flex;
    justify-content: left;
    flex-direction: row;
    width: 100%;
    align-items: center;
    gap: clamp(25px, calc(25px + (125 * ((100vw - 320px) / 1120))), 150px);
}
.Left{
    display: flex;
    justify-content: left;
    width: 100%;
}
.Left img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.Right{
    display: flex;
    justify-content: left;
    flex-direction: column;
    gap: 20px;
    width: 100%;

}
.Right h3{
    font-size: var(--fs-25);
    font-weight: 600;
    color: #414141;
    margin: 0;
    text-transform: capitalize;
    font-family: var(--font-poppins);

}
.Right p{
    font-size: var(--fs-32);
    font-weight: 400;
    color: #414141;
    margin: 0;
    line-height: 130%;
    max-width: 640px;
    font-family: var(--font-pp-hatton);
}
@media (max-width: 640px) {
    .MainContainer{
        flex-direction: column;
        align-items: center;
        gap: 25px;
    }
    .Right h3{
        font-size: 20px;
        justify-content: left;

    }
    .Right p{
        font-size: 14px;
        justify-content: left;

    }
    .Right{
        gap: 8px;
    }
    .Main{
        padding: 0px 24px 80px 24px;
    }
}
[dir="rtl"] .Right h3{
    font-family: var(--font-kufi);
   
}
[dir="rtl"] .Right p{
    font-family: var(--font-alexandria);
}
.imageWrapper {
  overflow: hidden;
}

.Image {
  transition: transform 0.6s ease;
}

.imageWrapper:hover .Image {
  transform: scale(1.05);
}
.Right h3,
.Right p {
  will-change: transform, opacity;
}