.main {
  width: 100%;
  background-color: #ffffff;
  padding:
    0px
    clamp(24px, calc(24px + (26 * ((100vw - 320px) / 1120))), 50px)
    clamp(80px, calc(80px + (80 * ((100vw - 320px) / 1120))), 160px)
    clamp(24px, calc(24px + (26 * ((100vw - 320px) / 1120))), 50px);
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.imageWrap {
  position: relative;
  width: 100%;
  height: 800px;
  overflow: hidden;
}

.image {
  object-fit: cover;
}

.descriptionWrap {
  max-width: 840px;
}

.descriptionWrap p {
  font-size: var(--fs-18);
  font-weight: 400;
  color: #414141;
  font-family: var(--font-poppins);
  margin: 0;
  line-height: 130%;
}
[dir='rtl'] .descriptionWrap p {
  font-family: var(--font-kufi);
}

@media (max-width: 640px) {
  .main {
    padding: 0px 24px 80px 24px;
    gap: 15px;
  }

  .imageWrap {
    height: 300px;
  }

  .descriptionWrap {
    max-width: 100%;
  }

  .descriptionWrap p {
    font-size: 14px;
  }
}

@media (min-width: 641px) and (max-width: 1024px) {
  .imageWrap {
    height: 500px;
  }

  .descriptionWrap {
    max-width: 100%;
  }
}

[dir='rtl'] .descriptionWrap {
  margin-left: auto;
  margin-right: 0;
}
