.main{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: #ffffff;
padding:
0px
clamp(24px, calc(24px + (26 * ((100vw - 320px) / 1120))), 50px)
clamp(80px, calc(80px + (80 * ((100vw - 320px) / 1120))), 160px)
clamp(24px, calc(24px + (26 * ((100vw - 320px) / 1120))), 50px);
}
.MainContainer{
    display: flex;
    justify-content: left;
    flex-direction: column;
    gap: 40px;
    width: 100%;
}
.heading{
    display: flex;
    justify-content: left;
}
.heading h3{
    font-size: var(--fs-25);
    font-weight: 700;
    color: #414141;
    text-transform: capitalize;
    font-family: var(--font-poppins);
}
[dir="rtl"] .heading h3 {
  font-family: var(--font-kufi);
}
.Cards{
    display: flex;
    justify-content: left;
    gap: 32px;
   flex-direction: row;
   width: 100%;
}
.Card{
    display: flex;
    justify-content: left;
    flex-direction: column;
    gap: 15px;
     flex: 1; 
    min-width: 0;
    
}
.Card a{
    text-decoration: none;
    color: inherit;
}
.CardTop{
    display: flex;
    justify-content: left;
}
.CardTop img {
    width: 100%;
    max-width: 100%;  
    max-height: 680px;
    height: 100%;
    object-fit: cover;
}
.CardBottom{
    display: flex;
    justify-content: left;
    flex-direction: row;
    gap: 8px;
    align-items: center;
    cursor: pointer;
}
.CardBottom h4{
    font-size: var(--fs-18);
    font-weight: 700;
    color: #69594F;
    text-transform: capitalize;
    font-family: var(--font-pp-hatton);
    text-decoration: underline;
    text-underline-offset: 3px;
}
[dir="rtl"] .CardBottom h4 {
  font-family: var(--font-alexandria);
}
@media (max-width: 640px){
    .Cards{
        display: flex;
        flex-direction: column;
        gap: 40px;
    }
    .main{
        padding: 0px 24px 80px 24px;
    }
     .heading h3{
        font-size: 20px;
     }
     .CardTop img{
        max-width: 100%;
        max-height: 100%;
     }
     .CardBottom h4{
        font-size: 14px;
     }
     .CardBottom svg{
        width: 13px;
        height: 13px;
     }
     .MainContainer{
        gap: 25px;
     }
    
}
[dir='rtl'] .CardBottom svg {
  transform: scaleX(-1);
}
[dir='rtl'] .CardBottom {
  justify-content:  right;
}