.Main{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100svh;
    background: url('./1.png');
    background-size: cover;
    background-position: center;
    overflow: hidden;
}
.MainContainer{
    display: flex;
    justify-content: center;
    align-items: center;
   width: 100%;
}
.MainContainer h3{
    font-size: var(--fs-64);
    font-weight: 400;
    color: #FFFFFF;
    margin: 0;
    opacity: 0;
    transform: translateY(40px);
   font-family: var(--font-pp-hatton);
}
@media (max-width: 640px) {
    .MainContainer h3{
        font-size: 32px;
        text-align: center;
        line-height: 120%;
    }
    .Main{
        object-fit: cover;
        object-position: left;

        width: 100%;
       
    }
}
@media (min-width: 641px) and (max-width: 1024px) {
    .MainContainer h3{
        font-size: 48px;
        text-align: center;
        line-height: 120%;
    }
    
}
[dir='rtl'] .MainContainer h3 {
    font-family: var(--font-alexandria);
    font-size: var(--fs-96);
}
@media (max-width: 640px) {
    [dir='rtl'] .MainContainer h3 {
        font-size: 32px;
    }
}