.Main{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
   height: 100%;
    background-color: #ffffff;
    padding:
0px
clamp(24px, calc(24px + (26 * ((100vw - 320px) / 1120))), 50px)
clamp(80px, calc(80px + (80 * ((100vw - 320px) / 1120))), 160px)
clamp(24px, calc(24px + (26 * ((100vw - 320px) / 1120))), 50px);
}
.MainContainer{
    display: flex;
    justify-content: left;
    flex-direction: column;
   width: 100%;
   gap: 25px;
}
.top{
    display: flex;
    justify-content: left;
    flex-direction: column;
    gap: 15px;
}
.top h3{
    font-size: var(--fs-25);
    font-weight: 600;
    color: #414141;
    margin: 0;
   font-family: var(--font-poppins);
}
.top p{
    font-size: var(--fs-18);
    font-weight: 400;
    color: #414141;
    margin: 0;
    line-height: 130%;
    max-width: 900px;
   font-family: var(--font-poppins);
}
.desk {
  overflow: hidden; 
}
.bottom{
    display: flex;
    justify-content: left;
    flex-direction: column;
    gap: 20px;
    width: 100%;
}
.desk img{
    width: 100%;
    max-height: 530px;
    height: 100%;
    object-fit: cover;
    object-position: center;
     transition: transform 0.6s ease;
  

}
.desk:hover img {
  transform: scale(1.03);
}

.explore{
    display: flex;
   justify-content: left;
   flex-direction: row;
   align-items: center;
   text-decoration: underline;
   text-underline-offset: 3px;
    gap: 8px;
    cursor: pointer;
}
.explore h4{
    font-size: var(--fs-18);
    font-weight: 700;
    color: #69594F;
    margin: 0;
    text-decoration: underline;
    text-underline-offset: 4px;
    font-family: var(--font-poppins);
}
.mob{
    display: none;
}
@media (max-width: 640px) {
    .Main{
        padding: 0px 24px 80px 24px;
    }
    .MainContainer{
        gap: 30px;
    }
    .top h3{
        font-size: 20px;
    }
    .top p{
        font-size: 14px;
        line-height: 120%;
    }
    .explore h4{
        font-size: 14px;
    }
    .bottom{
        gap: 15px;
    }
    .desk{
        display: none;
    }
    .mob{
        display: flex;


    }
    .mob     img{
        width: 100%;
        height: 300px;
        object-fit: cover;
    }
}
[dir="rtl"] .explore {
 justify-content: right;
}

[dir="rtl"] .explore svg {
  transform: scaleX(-1);
}
[dir="rtl"] .top h3, [dir="rtl"] .top p {
  font-family: var(--font-kufi);
}
[dir="rtl"] .explore h4 {
  font-family: var(--font-kufi);
}
.bottom a{
    text-decoration: none;
    color: inherit;
}
.top h3,
.top p {
  opacity: 0;
  transform: translateY(40px);
}

.desk {
  opacity: 0;
  transform: translateY(40px);
}
.arrow {
  transition: transform 0.3s ease;
}

.explore:hover .arrow {
  transform: translateX(6px);
}


[dir="rtl"] .explore:hover .arrow {
  transform: translateX(-6px);
}