.Main{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: #ffffff;
   padding: 0px
  clamp(24px, calc(24px + (26 * ((100vw - 320px) / 1120))), 50px)
  clamp(80px, calc(80px + (80 * ((100vw - 320px) / 1120))), 160px)
  clamp(24px, calc(24px + (26 * ((100vw - 320px) / 1120))), 50px);
}
.MainContainer{
    display: flex;
    justify-content: left;
    width: 100%;
    flex-direction: column;
   gap: clamp(25px, calc(25px + (35 * ((100vw - 320px) / 1120))), 60px);
}
.video {
    width: 100%;
    height: 100%;
    object-fit: cover;

}
.top{
    display: flex;
    justify-content: left;
flex-direction: column;
    gap: 20px;
}
.top h3{
    font-size: var(--fs-25);
    font-weight: 700;
    color: #414141;
    margin: 0;
    font-family: var(--font-poppins);
}
.top p{
    font-size: var(--fs-18);
    font-weight: 400;
    color: #414141;
    margin: 0;
    line-height: 130%;
    font-family: var(--font-poppins);
    max-width: 50%;
}
.bottom{
    display: flex;
    justify-content: center;
 width: 100%;
}
@media (max-width: 640px) {
    .Main{
        padding: 0px 24px 80px 24px;
    }
    .top p{
        max-width: 100%;
    }
    .MainContainer{
        gap: 25px;
    }
    .video{
        height: 500px;
    }
}