.Main{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    padding:
clamp(80px, calc(80px + (120 * ((100vw - 320px) / 1120))), 200px)
clamp(24px, calc(24px + (26 * ((100vw - 320px) / 1120))), 50px)
clamp(80px, calc(80px + (120 * ((100vw - 320px) / 1120))), 200px)
clamp(24px, calc(24px + (26 * ((100vw - 320px) / 1120))), 50px);
}
.MainContainer{
    display: flex;
    justify-content: center;
align-items: center;
    width: 100%;
}
.MainContainer h4{
    font-size: var(--fs-32);
    font-weight: 400;
    color: #414141;
    margin: 0;
    max-width: 1200px;
    text-align: center;
    font-family: var(--font-pp-hatton);
}
[dir="rtl"] .MainContainer h4{
    font-family: var(--font-alexandria);
}
@media (max-width: 640px) {
    .Main{
        padding: 80px 24px 80px 24px;
    }
    .MainContainer h4{
        font-size: 20px;
        max-width: 890%;
        text-align: left;
    }
    [dir='rtl'] .MainContainer h4 {
        text-align: right;
    }
    .MainContainer{
        justify-content: left;
        align-items: flex-start;
        text-align: left;
    }
}