.Main{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: #ffffff;
  padding:
clamp(80px, calc(80px + (120 * ((100vw - 320px) / 1120))), 200px)
clamp(24px, calc(24px + (26 * ((100vw - 320px) / 1120))), 50px);
}
.MainContainer{
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    align-items: center;
}
.MainContainer p{
    font-size: var(--fs-32);
    font-weight: 400;
    color: #414141;
    margin: 0;
    line-height: 130%;
    max-width: 1300px;
   font-family: var(--font-pp-hatton);
   text-align: center;
}
@media (max-width: 640px) {
    .MainContainer p{
        font-size: 20px;
        justify-content: left;

    }
    .Main{
        padding: 80px 24px;
    }
}